*{
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;

}

/* display do cabeçario */

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 30vh;
    background-color: black;
    
}
nav h1{

    color: #FF7B00;
    font-size: 24pt;

}
nav h3{
    font-size: 30pt;
}

nav , h2, p{

    color: white;
}

/* display do tabuleiro */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60vh;
    background-color: #208CB3;
    
}

header section{
    display: flex;
    background-color: black;
}

header section div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: #47CEFF;
    border:3px solid #208CB3;
    cursor: pointer;
}

/* display rodapé de reset */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 10vh;
    background-color: #208CB3;

}

footer button{
    border: none;
    background-color: #FF7B00;
    font-size: 12pt;
    color: white;
    width: 70px;
    height: 40px;
    border-radius:30px;
    cursor: pointer;
}

/* responsivo tela média */

@media (max-width: 1259px){

    p{
        font-size:12px;
    }

    header section div{

        width: 90px;
        height: 90px;

    }
   
}

/* responsivo Tablet */

@media (max-width: 886px){
    nav{
        width: 60%;

    }

    header{
        width: 60%;
    }

    header section div{

        width: 90px;
        height: 90px;

    }

    footer{
        width: 60%;
    }

}

/* responsivo celular */

@media (max-width:425px){
    nav{
        width: 100%;

    }
    nav h3{
        font-size: 15pt;
    }

    header{
        width: 100%;
    }

    p{
        text-align: center;
    }

    header section div{

        width: 90px;
        height: 90px;

    }

    footer{
        width: 100%;
    }

}

