*{
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}